th:not(:first-child) {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: var(--color-accent-green);
  color: var(--color-white);
  font-size: 18px;
}

th:first-child {
  border: 0;
}