th:not(:first-child) {
  background-color: var(--color-accent-green);
}

th:first-child {
  border: 0;
}

.th-item {
  transform: rotate(180deg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  color: var(--color-white);
  font-size: 18px;
}