.table__row:nth-child(even) {
   background-color: var(--color-light-gray);
}

.table__cell {
   max-width: 300px;
   min-width: 50px;
   transition: var(--anim);
}

.table__row .table__cell-title {
   position: relative;
   font-weight: bold;
   min-width: 200px;
   height: 40px;
}

.table__cell-title:hover {
   transition: var(--anim);
   box-shadow: inset 0 0 3px 1px var(--color-gray);
}

.table__cell:not(:first-child):hover {
   opacity: .7;
   box-shadow: inset 0 0 3px 0px var(--color-dark);
   transition: var(--anim);
}

.table__cell--red {
   background: linear-gradient(to bottom, var(--color-gradient-red));

}

.table__cell--green {
   background: linear-gradient(to bottom, var(--color-gradient-green));
}

.table__tooltip-section {
   display: flex;
   flex-wrap: nowrap;
   gap: 5px;
   padding: 0 10px;
   align-items: center;
   justify-content: space-between;
}

.table__tooltip-title {
   text-align: left;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: normal;
}

.table__btn-more {
   cursor: pointer;
   padding: 6px 3px;
   border: 1px solid var(--color-dark-red);
   border-radius: 4px;
   background-color: var(--color-white);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 15px;
   transition: var(--anim);
}

.table__btn-more:active {
   transition: var(--anim);
   background-color: var(--color-gray-light);
}

.table__tooltip-content {
   display: none;
   border: 1px solid var(--color-dark-red);
   border-radius: 4px;
   background-color: var(--color-alice-blue);
   padding: 5px;
   top: -20px;
   right: 0;
   position: absolute;
   flex-wrap: nowrap;
   gap: 5px;
}

.table__tooltip-btn {
   transition: var(--anim);
   border: 1px solid var(--color-gray);
   padding: 2px 4px;
   border-radius: 4px;
}

.table__tooltip-btn--add {
   background-color: var(--color-light-green);
}

.table__tooltip-btn--edit {
   background-color: var(--color-light-beige);
}

.table__tooltip-btn--del {
   background-color: var(--color-light-pink);
}

.table__tooltip-btn:active {
   cursor: pointer;
   opacity: .6;
}



@media (hover :hover) {
   .table__tooltip-btn:hover {
      transition: var(--anim);
      cursor: pointer;
      opacity: .6;
   }

   .table__btn-more:hover {
      transition: var(--anim);
      background-color: var(--color-gray-light);
   }
}